monolog:
  channels:
    - slack
    - app

  handlers:
    combined:
      type: group
      members: [ slack, app ]

    slack:
      type: slackwebhook
      level: error
      channels: [ "slack" ]
      webhook_url: '%env(SLACK_WEBHOOK_URL)%'
      bot_name: 'DEFAULT-IDENTIFIER_ENV-EDI-XXX'
      icon_emoji: ':construction:'
      include_extra: true

    app:
      type: stream
      path: "%kernel.logs_dir%/%kernel.environment%.log"
      level: error
      channels: [ "app" ]

when@test, when@dev:
  monolog:
    handlers:
      app:
        type: stream
        path: "%kernel.logs_dir%/%kernel.environment%.log"
        level: debug
        channels: [ "app" ]

when@prod:
  monolog:
    handlers:
      slack:
        type: slackwebhook
        level: error
        channels: [ "slack" ]
        webhook_url: '%env(SLACK_WEBHOOK_URL)%'
        bot_name: 'Prod-Identifier-EDI-145'
        app_name: 'IdentifierErrorBotApp'
        icon_emoji: ':mega:'
        include_extra: true
      app:
        type: stream
        path: "%kernel.logs_dir%/%kernel.environment%.log"
        level: error
        channels: [ "app" ]