APP_ENV=test
APP_SECRET=3c8246b73f141c36c11d498c0ac1278a

API_ENDPOINT=https://api.example.com/get-price

KAFKA_TRANSPORT_DSN=kafka://kafka:9093

APP_DEBUG=false

DATABASE_URL="postgresql://postgres_edi_user:postgres_edi_password@postgres_edi_host:postgres_edi_port/suppliers?serverVersion=16&charset=utf8"

LOCK_DSN=flock

APP_SCHEMA=edi_scraper
APP_EXT_SCHEMA=external_bezoxx

KERNEL_CLASS=App\Kernel
SYMFONY_DEPRECATIONS_HELPER=999999
PANTHER_APP_ENV=panther
PANTHER_ERROR_SCREENSHOT_DIR=./var/error-screenshots
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL

PROCESSING_PRODUCT_COUNT=100
PRODUCT_COLOR_INTERSECTION=false
PRODUCT_COLOR_MAPPING=false
PROXY_GROUP_ID=5
PROXY_PAUSE_INTERVAL=30
PROXY_RETRY_COUNT=5
USE_PROXY=true
WALMART_PRODUCT_WAIT_DAYS_BEFORE_RETRY=7

ON_KAFKA_ERROR_SLEEP_TIME=60
KAFKA_WAIT_MESSAGE_TIME=1000*60
ON_KAFKA_MAX_ERROR_COUNT_REPEAT=15

SPREADSHEET_ID=YOUR_GOOGLE_SPREADSHEET_ID_FROM_URL_GOOGLE_SPREADSHEET
CONSUME_MESSAGE_COUNT=10000
TAB_NAME_TO_MANAGE=RAW_ASIN_UPCS!A1:F
TAB_NAME_FROM_MANAGE=DONE_ASIN_UPCS!A1:D
CLEAR_SHEET=DONE_ASIN_UPCS
BATCH_ROWS_SHEET_COUNT=10000

UPC_IN_OUTPUT_TOPIC=upc_in_output
UPC_IN_INPUT_TOPIC=upc_in_input
UPC_CONSUMER_GROUP=in_upc_consumer_group_1

GOOGLE_TO_ASINS_TOPIC=google_output
ASINS_TO_GOOGLE_TOPIC=asins_to_google
ASINS_TO_GOOGLE_INPUT_CONSUMER_GROUP=asins_to_google_input_consumer_group

KAFKA_EDI_SERVER_HOST=kafka
KAFKA_EDI_SERVER_PORT=9093

SP_API_MAX_ERROR_COUNT_REPEAT=10
SP_API_ERROR_SLEEP_TIME=5