services:
  php:
    image: amazon-asin-sync-php:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    environment:
      APP_ENV: ${APP_ENV}
      KAFKA_EDI_SERVER_HOST: ${KAFKA_EDI_SERVER_HOST}
      KAFKA_EDI_SERVER_PORT: ${KAFKA_EDI_SERVER_PORT}
    container_name: amazon_asin_product_sync
    command: /usr/bin/supervisord -c /etc/supervisord.conf
    networks:
      - internal_sync_network
    expose:
      - 9000

networks:
  internal_sync_network:
    driver: bridge
    external: true
    name: internal_sync_network
