services:
  php:
    image: amazon-asin-sync-php:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    container_name: amazon_asin_product_sync
    networks:
      - internal_sync_network
    expose:
      - 9000

networks:
  internal_sync_network:
    driver: bridge
    external: true
    name: internal_sync_network
