{
  "credentials": [
    {
      "client_id": "amzn1.application-oa2-client.______________________",
      "marketplace_id": "A1RIwEBIKG9VHS",
      "seller_id": "A3P8IwEBIKG9VM8",
      "client_secret": "amzn1.oa2-cs.v1._______________________",
      "refresh_token": "Atzr|CIwEBIKG9VIwEBIKG9V______IwEBIKG9VIwEBIKG9VXc",
    },
    {
      "client_id": "amzn1.application-oa2-client.______________________",
      "marketplace_id": "A1RIwEBIKG9VHS",
      "seller_id": "A3P8IwEBIKG9VM8",
      "client_secret": "amzn1.oa2-cs.v1._______________________",
      "refresh_token": "Atzr|CIwEBIKG9VIwEBIKG9V______IwEBIKG9VIwEBIKG9VXc",
    }
  ]
}
