{"access_token":"ya29.a0EXAMPLE_ACCESS_TOKEN_STRING_1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ","expires_in":3599,"scope":"https:\/\/www.googleapis.com\/auth\/drive https:\/\/www.googleapis.com\/auth\/spreadsheets","token_type":"Bearer","created":1700000000,"refresh_token":"1\/\/0EXAMPLE_REFRESH_TOKEN_STRING_abcdefghijklmnopqrstuvwxyz1234567890"}
